* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v922_4713 {
  width: 100%;
  height: 2230px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4714 {
  width: 204px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 88px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4715 {
  width: 176px;
  color: rgba(185,54,57,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4716 {
  width: 137px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 642px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4717 {
  width: 109px;
  color: rgba(125,71,119,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4718 {
  width: 152px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 815px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4719 {
  width: 124px;
  color: rgba(98,71,138,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4720 {
  width: 88px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 1003px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4721 {
  width: 60px;
  color: rgba(67,72,153,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4722 {
  width: 111px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 328px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4723 {
  width: 83px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4724 {
  width: 131px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 475px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4725 {
  width: 103px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v922_4727 {
  width: 319px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1088px;
  left: 705px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v922_4790 {
  width: 100%;
  height: 721px;
  background: url("../images/v922_4790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 56px;
  overflow: hidden;
}
.v922_4787 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_4787.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4788 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_4788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 519px;
  overflow: hidden;
}
.v922_4789 {
  width: 576px;
  height: 721px;
  background: url("../images/v922_4789.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1039px;
  overflow: hidden;
}
.v922_4792 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4792.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4733 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4734 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4735 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4736 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4737 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4738 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4739 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4740 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4741 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4742 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4743 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v922_4744 {
  width: 100%;
  height: 817px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_4745 {
  width: 100%;
  height: 817px;
  background: rgba(206,246,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v922_4746 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4746.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v922_4747 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4747.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 0px;
  overflow: hidden;
}
.v922_4748 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4748.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  overflow: hidden;
}
.v922_4749 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4749.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 0px;
  overflow: hidden;
}
.v922_4750 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v922_4751 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4751.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
  overflow: hidden;
}
.v922_4752 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4752.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 0px;
  overflow: hidden;
}
.v922_4753 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4753.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 0px;
  overflow: hidden;
}
.v922_4754 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4754.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v922_4791 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v922_4755 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4755.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v922_4756 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4757 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4757.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_4758 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v922_4759 {
  width: 100%;
  height: 974px;
  background: url("../images/v922_4759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 36px;
  overflow: hidden;
}
.v922_4760 {
  width: 841px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 292px;
  left: 444px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 133px;
  opacity: 1;
  text-align: left;
}
.v922_4761 {
  width: 469px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 451px;
  left: 629px;
  font-family: Montserrat;
  font-weight: Italic;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v922_4762 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 446px;
  left: 91px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v922_4763 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 382px;
  left: 1635px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v922_4764 {
  width: 88px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 82px;
  left: 820px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
