* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v922_4635 {
  width: 100%;
  height: 2230px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4636 {
  width: 204px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 88px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4637 {
  width: 176px;
  color: rgba(185,54,57,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4638 {
  width: 137px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 642px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4639 {
  width: 109px;
  color: rgba(125,71,119,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4640 {
  width: 152px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 815px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4641 {
  width: 124px;
  color: rgba(98,71,138,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4642 {
  width: 88px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 1003px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4643 {
  width: 60px;
  color: rgba(67,72,153,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4644 {
  width: 111px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 328px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4645 {
  width: 83px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4646 {
  width: 131px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 475px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4647 {
  width: 103px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v922_4649 {
  width: 336px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1088px;
  left: 696px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v922_4710 {
  width: 100%;
  height: 721px;
  background: url("../images/v922_4710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 89px;
  overflow: hidden;
}
.v922_4707 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_4707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4708 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_4708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 519px;
  overflow: hidden;
}
.v922_4709 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_4709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1039px;
  overflow: hidden;
}
.v922_4712 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4651 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4652 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4653 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4654 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4655 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4656 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4657 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4658 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4659 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4660 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v922_4661 {
  width: 100%;
  height: 817px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_4662 {
  width: 100%;
  height: 817px;
  background: rgba(206,246,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v922_4663 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v922_4664 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 0px;
  overflow: hidden;
}
.v922_4665 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  overflow: hidden;
}
.v922_4666 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 0px;
  overflow: hidden;
}
.v922_4667 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v922_4668 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
  overflow: hidden;
}
.v922_4669 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 0px;
  overflow: hidden;
}
.v922_4670 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 0px;
  overflow: hidden;
}
.v922_4711 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_4711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v922_4671 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v922_4672 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4672.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4673 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4673.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_4674 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_4674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v922_4675 {
  width: 100%;
  height: 974px;
  background: url("../images/v922_4675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 36px;
  overflow: hidden;
}
.v922_4676 {
  width: 885px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 292px;
  left: 422px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 133px;
  opacity: 1;
  text-align: left;
}
.v922_4677 {
  width: 469px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 451px;
  left: 629px;
  font-family: Montserrat;
  font-weight: Italic;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v922_4678 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 446px;
  left: 91px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v922_4679 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 382px;
  left: 1635px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v922_4680 {
  width: 88px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 82px;
  left: 820px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
