* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v922_5053 {
  width: 100%;
  height: 2230px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5054 {
  width: 204px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 88px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_5055 {
  width: 176px;
  color: rgba(185,54,57,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_5056 {
  width: 137px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 642px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_5057 {
  width: 109px;
  color: rgba(125,71,119,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_5058 {
  width: 152px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 815px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_5059 {
  width: 124px;
  color: rgba(98,71,138,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_5060 {
  width: 88px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 1003px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_5061 {
  width: 60px;
  color: rgba(67,72,153,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_5062 {
  width: 111px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 328px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_5063 {
  width: 83px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_5064 {
  width: 131px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 475px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_5065 {
  width: 103px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v922_5067 {
  width: 372px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1088px;
  left: 678px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v922_5136 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5069 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5069.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5070 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5071 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5072 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5073 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5073.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5074 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5074.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5075 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5075.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5076 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5076.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5077 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5077.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5078 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5078.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5079 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5080 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5081 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5081.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5082 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5082.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5083 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5083.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v922_5084 {
  width: 100%;
  height: 817px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_5085 {
  width: 100%;
  height: 817px;
  background: rgba(206,246,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v922_5086 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v922_5087 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5087.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 0px;
  overflow: hidden;
}
.v922_5088 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  overflow: hidden;
}
.v922_5089 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 0px;
  overflow: hidden;
}
.v922_5090 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5090.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v922_5091 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5091.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
  overflow: hidden;
}
.v922_5092 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5092.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 0px;
  overflow: hidden;
}
.v922_5093 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 0px;
  overflow: hidden;
}
.v922_5094 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v922_5095 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v922_5096 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5096.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v922_5097 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v922_5098 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5098.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v922_5135 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 0px;
  overflow: hidden;
}
.v922_5099 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5099.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v922_5100 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5101 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5101.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_5102 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v922_5103 {
  width: 100%;
  height: 974px;
  background: url("../images/v922_5103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 36px;
  overflow: hidden;
}
.v922_5104 {
  width: 981px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 292px;
  left: 374px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 133px;
  opacity: 1;
  text-align: left;
}
.v922_5105 {
  width: 469px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 451px;
  left: 629px;
  font-family: Montserrat;
  font-weight: Italic;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v922_5106 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 446px;
  left: 91px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v922_5107 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 382px;
  left: 1635px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v922_5108 {
  width: 88px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 82px;
  left: 820px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v922_5140 {
  width: 100%;
  height: 721px;
  background: url("../images/v922_5140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 89px;
  overflow: hidden;
}
.v922_5137 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_5137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5138 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_5138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 519px;
  overflow: hidden;
}
.v922_5139 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_5139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1039px;
  overflow: hidden;
}
