* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v922_4966 {
  width: 100%;
  height: 2230px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4967 {
  width: 204px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 88px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4968 {
  width: 176px;
  color: rgba(185,54,57,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4969 {
  width: 137px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 642px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4970 {
  width: 109px;
  color: rgba(125,71,119,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4971 {
  width: 152px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 815px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4972 {
  width: 124px;
  color: rgba(98,71,138,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4973 {
  width: 88px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 1003px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4974 {
  width: 60px;
  color: rgba(67,72,153,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4975 {
  width: 111px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 328px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4976 {
  width: 83px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v922_4977 {
  width: 131px;
  height: 40px;
  background: rgba(217,217,217,1);
  padding: 5px 14px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 475px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v922_4978 {
  width: 103px;
  color: rgba(173,58,72,1);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v922_4980 {
  width: 368px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1088px;
  left: 680px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v922_5048 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v922_4987 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4988 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4989 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4990 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4990.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4991 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4992 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4993 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4993.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4994 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4995 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4996 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4996.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4997 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4997.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4998 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4998.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_4999 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_4999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5000 {
  width: 100%;
  height: 817px;
  background: url("../images/v922_5000.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v922_5001 {
  width: 100%;
  height: 817px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_5002 {
  width: 100%;
  height: 817px;
  background: rgba(206,246,235,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.v922_5003 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.v922_5004 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 0px;
  overflow: hidden;
}
.v922_5005 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5005.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  overflow: hidden;
}
.v922_5006 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 0px;
  overflow: hidden;
}
.v922_5007 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5007.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v922_5008 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
  overflow: hidden;
}
.v922_5009 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 0px;
  overflow: hidden;
}
.v922_5010 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 0px;
  overflow: hidden;
}
.v922_5011 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5011.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v922_5012 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v922_5013 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5013.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v922_5014 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v922_5047 {
  width: 100%;
  height: 100%;
  background: url("../images/v922_5047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v922_5015 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5015.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v922_5016 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5016.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5017 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5017.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v922_5018 {
  width: 100%;
  height: 816px;
  background: url("../images/v922_5018.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v922_5019 {
  width: 100%;
  height: 974px;
  background: url("../images/v922_5019.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 36px;
  overflow: hidden;
}
.v922_5020 {
  width: 970px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 292px;
  left: 379px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 133px;
  opacity: 1;
  text-align: left;
}
.v922_5021 {
  width: 469px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 451px;
  left: 629px;
  font-family: Montserrat;
  font-weight: Italic;
  font-size: 66px;
  opacity: 1;
  text-align: left;
}
.v922_5022 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 446px;
  left: 91px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v922_5023 {
  width: 64px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 382px;
  left: 1635px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v922_5024 {
  width: 88px;
  color: rgba(249,249,249,1);
  position: absolute;
  top: 82px;
  left: 820px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v922_5052 {
  width: 100%;
  height: 721px;
  background: url("../images/v922_5052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 89px;
  overflow: hidden;
}
.v922_5049 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_5049.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v922_5050 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_5050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 519px;
  overflow: hidden;
}
.v922_5051 {
  width: 509px;
  height: 721px;
  background: url("../images/v922_5051.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1039px;
  overflow: hidden;
}
